/* Google font import  */
@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');

body {
    font-family: "Aladin", sans-serif;
    font-weight: 400;
    font-size: 30px;
}

/* Background color set  */
* {
    background-color: #B01432;
}
/* Navbar flexbox container  */
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px;
    padding-bottom: 0.3rem;
    border-bottom: solid 3px #FFA900;
    margin: 0;
    width: 100%;
}

/* Link styling  */
a {
    text-decoration: none;
    color: black
}

h1 {
    color: black;
    text-align: center;
    margin: auto;text-shadow: #FFA900 2px 2px;
}
/* Paragraph 1  */
.p-1 {

    text-align: center;
    font-size: 1.25rem;
    padding: 0;
    margin: 0;
}

a:hover {
    color: #FFA900;
}
/* Footer container */
.cont {

    height: 2.3rem;
    width: 100%;
    padding-top: 20px;
    background-color: #B01432;
    display: flex;
    justify-content: space-between
}

.item-1 {
    height: 2.3rem;
    background-color: #B01432
}

.item-2 {
    height: 2.3rem;
}

.p-2 {
    font-size: 1.4rem;
    text-align: center;
}

.h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

.table {
    margin-left: auto;
    margin-right: auto;
}

.home {
    text-decoration-style: solid 2px black;
}

.contact-h-1 {

    margin: 0;
    padding: 0;
}

.span {
    font-size: 3rem;
}

.frame {
    width: 100%
}

.p-2-2 {

    text-align: center;
}
/* Animation for headings  */
h1
     {
    animation: animate 5s 1;
}

@keyframes animate {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}