/* Text area  */
input[type=text],
select,

textarea {
    width: 40%;
    padding: 12px;
    border: 0.2rem solid #70877F;
    border-radius: 14px;
    box-sizing: border-box;
    margin-top: 8px;
    margin-bottom: 6px;
    resize: horizontal
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #27AE60;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, changes to a diferent color */
input[type=submit]:hover {
    background-color: #2F2963;
}

/* This adds a background color and some padding around the form */
.container-2 {
    border-radius: 5px;
    background-color:#C4A77D;
    width: 100%;
    height: 798px;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    
    
}

/* Flexbox container / items */
.res-items {
    height: 100px;
    width: 450px;
    background-color:#C4A77D;
}

/* terms and conditions */
.terms {

    text-align: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

/* give consent  */
.give {
font-size: 0.7em;
}

/* ordered list T&Cs  */
.ol {
    opacity: 0.6;
}

/* Footer  */
.footer {
    padding-top: 3rem;
}




