/* Google font impot */
@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');

body {
    font-family: "Aladin", sans-serif;
    font-weight: 400;
    font-size: 30px;
}

* {
    background-color: #B01432;
    /* border-style: solid 5px #70877F; */
}

/* Navbar container for all pages  */
.container {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding: 0px;
    padding-bottom: 0.3rem;
    border-bottom: solid 3px #FFA900;
    margin: 0;
    width: 100%;
}

/* Link decoration none */

a {
    text-decoration: none;
    color:black
    
 }

 /* Heading 1 */
h1, h2, th {
    color: black;
    text-align: center;
    padding-top: 1.25rem;
    margin: auto;
    text-shadow: #FFA900 2px 2px;
 }

 h1, h2 {
  animation: animate 5s 1;
 }

 /* Animation for headings  */
@keyframes animate{
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}

/* Animation for navbar links  */
@keyframes button-wobble {
  from {
    rotate: 5deg
  }

  to {
    rotate: -5deg
  }
}

@media (hover: hover) {
  nav a:hover {
    animation: button-wobble 0.07s linear;
  }
}
 /* Paragraph 1 */
.p-1 {

    text-align: center;
    font-size: 1.25rem;
    padding: 0;
    margin: 0;
 }

 /* Image */
 .img-container {
   background-color:#B01432;
   height: 57rem;
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;

 }

.img {

    height:57rem;
    width:40rem;
    border: #FFA900 solid 4px;
    border-radius: 8px;
    box-shadow: black 4px 4px 10px;
 }

 /* Link hover  */
 @media only screen and (hover) {
a:hover {
    color:#FFA900;
 }

 /* Footer container  */
 .cont {

   height: 2.3rem;
   width: 100%;
   background-color:#B01432;
   display: flex;
   justify-content:space-between
   
 }

 .item-1 {
   height:2.3rem;
   
   background-color:#B01432
   
 }

 .item-2 {
    height: 2.3rem;
    
    
 }

 /* Paragraph 2  */
.p-2 {
    font-size: 1.4rem;
    text-align: center;
 }

 /* Heading 2  */
 .h2 {
        text-align: center;
 }

 /* Table (Menu)  */
.table {
   margin-left: auto;
   margin-right: auto;
}
/* Survey  */
fieldset {
  text-align: center;
  border: 0;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #27AE60;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, changes to a diferent color */
input[type=submit]:hover {
  background-color: #2F2963;
}
  